//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here

.input-section {
    display: flex;
    justify-content: flex-start;
    > * {
        margin-right: 24px;
    }
}
.no-padding {
    .govuk-prototype-kit-task-list__items {
        padding-left: 0;
    }
}

.grey-text {
   color: #505a5f;	
}

.button-spacing-right {
    margin-right: 28px;
}

.wrap-text { 
    width: 440px;
    display: block;
    overflow-wrap: break-word;
  }

  .border-top {
    border-top: 1px solid #979797;
    padding-top: 16px;
  }

  .links-container a {
    display: block;
    margin-bottom: 8px;
  }

  .govuk-summary-card__tag {
    display: flex;
    align-items: center;
  }

  .govuk-summary-card__content {
    &.custom {
        .govuk-summary-list__row {
            border-bottom: 0;
        }
    }
  }

  .filter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .label-grey {
    color: $govuk-secondary-text-colour;
  }

  .action-container {
    width: fit-content;

  }

  .summary-links-container {
    display: flex;
    justify-content: flex-end;
    a:first-of-type {
      margin-right: 28px;
    }
  }