{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set serviceName %}
  Define a house type
{% endset%}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <p>House type B</p>
        <h1 class="govuk-fieldset__heading">
          What tenure is this house type?
        </h1>
        <p class="govuk-!-margin-top-8 grey-text">The tenure will be defined in your s106/CIL agreement or similar.</p>
      </legend>


      <form class="form" action="/housetypes/type-b/what-construction-method-will-be-used-to-build-this-house-type" method="post">

        {{ govukRadios({
          name: "what-tenure-is-this-house-type-b",
          fieldset: {
            legend: {
              text: "",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "Open market housing - homes sold directly to homebuyers on the open market",
              text: "Open market housing - homes sold directly to homebuyers on the open market",
              checked: checked("what-tenure-is-this-house-type-b", "Open market housing - homes sold directly to homebuyers on the open market")
            },
            {
              value: "Market rent - homes let directly to tenants",
              text: "Market rent - homes let directly to tenants",
              checked: checked("what-tenure-is-this-house-type-b", "Market rent - homes let directly to tenants")
            },
            {
              value: "Affordable rent - homes sold to a Housing Association or similar, to then be let to eligible tenants at a discount compared to market prices",
              text: "Affordable rent - homes sold to a Housing Association or similar, to then be let to eligible tenants at a discount compared to market prices",
              checked: checked("what-tenure-is-this-house-type-b", "Affordable rent - homes sold to a Housing Association or similar, to then be let to eligible tenants at a discount compared to market prices")
            },
            {
              value: "Affordable home ownership (AHO) - homes sold to a Housing Association or similar, to then be sold to eligible homebuyers at a discount compared to market prices",
              text: "Affordable home ownership (AHO) - homes sold to a Housing Association or similar, to then be sold to eligible homebuyers at a discount compared to market prices",
              checked: checked("what-tenure-is-this-house-type-b", "Affordable home ownership (AHO) - homes sold to a Housing Association or similar, to then be sold to eligible homebuyers at a discount compared to market prices")
            },
            {
              value: "Other (include any Social Rent, LCHO and Intermediate rent)",
              text: "Other (include any Social Rent, LCHO and Intermediate rent)",
              checked: checked("what-tenure-is-this-house-type-b", "Other (include any Social Rent, LCHO and Intermediate rent)")
            }

          ]
        }) }}


        {{ govukButton({
          text: "Continue",
          classes: "govuk-!-margin-top-9"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
