{% extends "layouts/main.html" %}

{% block pageTitle %}
Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">



    <form class="form" action="/yes-no-confirmation" method="post">
      <input name="yes-route" value="/sec-debenture" type="hidden">
      <input name="no-route" value="/sec-dir-loans" type="hidden">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              To the best of your knowledge, are there any legal charges outstanding or debt secured on this development site?
            </h1>
          </legend>
          <div id="contact-hint" class="govuk-hint">
            There may be a legal charge over the development site as security for funding any development activity or land purchase. 
          </div>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="contact-2" name="contact" type="radio" value="phone" data-aria-controls="conditional-contact-2">
              <label class="govuk-label govuk-radios__label" for="contact-2">
                Yes
              </label>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-2">
              <div class="govuk-form-group">
                <label class="govuk-label" for="contact-by-phone">
                  Tell us more about any existing legal charges or debt secured on this development site.
                <input class="govuk-textarea" id="contact-by-phone" name="contact-by-phone" rows="5">
              </div>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="contact-3" name="contact" type="radio" value="text" data-aria-controls="conditional-contact-3">
              <label class="govuk-label govuk-radios__label" for="contact-3">
                No
              </label>
            
            </div>
          </div>
        </fieldset>
      </div>

      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>

    </form>

  </div>
</div>

<p class="govuk-body"><a href="task-list" class="govuk-link">Return to application</a></p>
<p class="govuk-body"><a href="sec-check-answers.html" class="govuk-link">Show and edit all answers for this section</a>
</p>


{% endblock %}