{% extends "layouts/header-extended.html" %}
{% set pageName="Welcome" %}

{% set serviceName %}
Homes England
{% endset%}


{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
tag: {
text: "Beta"
},
html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.',
classes: "govuk-!-margin-bottom-3"
}) }}



{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-thirds">



    <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">{{data['consortium-name-1']}} management</h1>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Help with consortium
        </span>
      </summary>
      <div class="govuk-details__text">
        <div class="hint">
          A consortium of organisations is a group of companies or separate legal entities acting together to deliver
          homes under the Affordable Homes Programme.
        </div>
      </div>
    </details>

    {%if data['organisation-2'] == undefined %}
    <section class="govuk-!-margin-top-9">
      <h3 class="govuk-heading-m ">Add a new member</h2>

        <p>
          To add a new member, fill out their details and the request will be reviewed.
        </p>

        <a href="/registration-flow/add-organisation-consortium-2" role="button" draggable="false" class="govuk-button"
          data-module="govuk-button">
          Add a new member
        </a>
    </section>
    {%endif%}

    <section class="govuk-!-margin-top-9">
      <h3 class="govuk-heading-m ">Contracted consortium members</h2>

        <p>
          These members have been approved and added to the consortium. You can request to remove or change the members
          details.
        </p>

        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name
            </dt>
            <dd class="govuk-summary-list__value">
            </dd>
            <dd class="govuk-summary-list__actions action-container">
              <div class="summary-links-container">
              </div>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__value">
              Provider name
            </dt>
            <dd class="govuk-summary-list__value">
            </dd>
            <dd class="govuk-summary-list__actions action-container">
              <div class="summary-links-container">
                <a class="govuk-link" href="#">
                  Request to remove
                </a>
                <a class="govuk-link" href="#">
                  Request to change
                </a>
              </div>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__value">
              Provider name
            </dt>
            <dd class="govuk-summary-list__value">
            </dd>
            <dd class="govuk-summary-list__actions action-container">
              <div class="summary-links-container">
                <a class="govuk-link" href="#">
                  Request to remove
                </a>
                <a class="govuk-link" href="#">
                  Request to change
                </a>
              </div>
            </dd>
          </div>
        </dl>

    </section>

    <section class="govuk-!-margin-top-9">
      <h3 class="govuk-heading-m ">Pending consortium members</h2>

        <p>
          New members will be shown here until they are approved internally. You can cancel a request below.
        </p>

        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name
            </dt>
            <dd class="govuk-summary-list__value">
            </dd>
            <dd class="govuk-summary-list__actions action-container">
              <div class="summary-links-container">
              </div>
            </dd>
          </div>
          {%if data['organisation-1'] !== undefined %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__value">
              {{data['organisation-1']}}
            </dt>
            <dd class="govuk-summary-list__value">
            </dd>
            <dd class="govuk-summary-list__actions action-container">
                <a class="govuk-link" href="#">
                  Cancel request
                </a>
            </dd>
          </div>
          {%endif%}
          {%if data['organisation-2'] !== undefined %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__value">
              {{data['organisation-2']}}
            </dt>
            <dd class="govuk-summary-list__value">
            </dd>
            <dd class="govuk-summary-list__actions action-container">
              <a class="govuk-link" href="#">
                Cancel request
              </a>
          </dd>
          </div>
          {%endif%}
        </dl>

    </section>

    <section class="govuk-!-margin-top-9">
      <h3 class="govuk-heading-m ">Requests to remove</h2>

        <p>
          Removed members will be shown here until they are approved internally. You can cancel a request below.
        </p>

        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name
            </dt>
            <dd class="govuk-summary-list__value">
            </dd>
            <dd class="govuk-summary-list__actions action-container">
              <div class="summary-links-container">
              </div>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__value">
              Provider name
            </dt>
            <dd class="govuk-summary-list__value">
            </dd>
            <dd class="govuk-summary-list__actions action-container">
                <a class="govuk-link" href="#">
                  Cancel request
                </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__value">
              Provider name
            </dt>
            <dd class="govuk-summary-list__value">
            </dd>
            <dd class="govuk-summary-list__actions action-container">
              <a class="govuk-link" href="#">
                Cancel request
              </a>
          </dd>
          </div>
        </dl>

    </section>

    <section class="govuk-!-margin-top-9">
      <h3 class="govuk-heading-m ">Delete consortium</h2>

        <p>
          If you delete this consortium, you cannot undo this action. You will need to create a new consortium if you delete this one.
        </p>

        <a href="#" role="button" draggable="false" class="govuk-button govuk-button--warning"
          data-module="govuk-button">
          Add a new member
        </a>
    </section>



  </div>
</div>

{% endblock %}