{% extends "layouts/main.html" %} {% block pageTitle %} Question page template –
{{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {% set serviceName %}
Revenue {% endset%} {% block beforeContent %} {{ govukBackLink({ text: "Back",
href: "javascript:window.history.back()" }) }} {% endblock %} {% block content
%}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        What sources of additional income will you receive?
      </h1>
    </legend>
    <p>Select all that apply.</p>

    <form
      class="form"
      action="/revenue/revenue-sources-of-income-answer"
      method="post"
    >
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input
                class="govuk-checkboxes__input"
                id="income"
                name="income"
                type="checkbox"
                value="Commercial"
              />
              <label class="govuk-label govuk-checkboxes__label" for="income">
                Commercial
              </label>
            </div>

            <div class="govuk-checkboxes__item">
              <input
                class="govuk-checkboxes__input"
                id="income-2"
                name="income"
                type="checkbox"
                value="Parking"
              />
              <label class="govuk-label govuk-checkboxes__label" for="income-2">
                Parking
              </label>
            </div>

            <div class="govuk-checkboxes__item">
              <input
                class="govuk-checkboxes__input"
                id="income-3"
                name="income"
                type="checkbox"
                value="Rent"
              />
              <label class="govuk-label govuk-checkboxes__label" for="income-3">
                Rent
              </label>
            </div>

            <div class="govuk-checkboxes__divider">or</div>

            <div class="govuk-checkboxes__item">
              <input
                class="govuk-checkboxes__input"
                id="income-5"
                name="income"
                type="checkbox"
                value="Other"
                aria-controls="conditional-income-5"
                aria-expanded="false"
              />
              <label class="govuk-label govuk-checkboxes__label" for="income-5">
                Other
              </label>
            </div>

            <div
              class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden"
              id="conditional-income-5"
            >
              <div class="govuk-form-group">
                <label class="govuk-label" for="ammount-other">
                  What is the name of this additional income?
                </label>

                <input
                  class="govuk-input govuk-!-width-one-third"
                  id="ammount-other"
                  name="ammount-other"
                  type="text"
                  spellcheck="false"
                />
              </div>
            </div>
          </div>
        </fieldset>
      </div>

      <button
        class="govuk-button govuk-!-margin-top-9"
        data-module="govuk-button"
      >
        Continue
      </button>
    </form>
  </div>
</div>

{% endblock %}
