{% extends "layouts/main.html" %} {% block pageTitle %} Start page template – {{
serviceName }} – GOV.UK Prototype Kit {% endblock %} {% set serviceName %} Phase
1 {% endset%} {% block beforeContent %} {{ govukBackLink({ text: "Back", href:
"javascript:window.history.back()" }) }} {% endblock %} {% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p>Phase 1</p>
    <h1 class="govuk-heading-xl">Projected sales month</h1>

    <form
      class="form govuk-!-margin-top-6"
      action="/phase1/phase-1-sales-month-date-1"
      method="post"
    >
      <p>
        Select all plots with the same forecasted sales month. You can also
        select a single plot.<br />
        This process will be repeated until you have told us the building
        completion month of all plots.
      </p>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input
                class="govuk-checkboxes__input"
                id="sales-month"
                name="sales-month"
                type="checkbox"
                value="Plot 1. House type A"
              />
              <label
                class="govuk-label govuk-checkboxes__label"
                for="sales-month"
              >
                Plot 1. House type A
              </label>
            </div>

            <div class="govuk-checkboxes__item">
              <input
                class="govuk-checkboxes__input"
                id="sales-month-2"
                name="sales-month"
                type="checkbox"
                value="Plot 2. House type B"
              />
              <label
                class="govuk-label govuk-checkboxes__label"
                for="sales-month-2"
              >
                Plot 2. House type B
              </label>
            </div>

            <div class="govuk-checkboxes__item">
              <input
                class="govuk-checkboxes__input"
                id="sales-month-3"
                name="sales-month"
                type="checkbox"
                value="Plot 3. House type A"
              />
              <label
                class="govuk-label govuk-checkboxes__label"
                for="sales-month-3"
              >
                Plot 3. House type A
              </label>
            </div>

            <div class="govuk-checkboxes__item">
              <input
                class="govuk-checkboxes__input"
                id="sales-month-4"
                name="sales-month"
                type="checkbox"
                value="Plot 4. House type B"
              />
              <label
                class="govuk-label govuk-checkboxes__label"
                for="sales-month-4"
              >
                Plot 4. House type B
              </label>
            </div>

            <div class="govuk-checkboxes__item">
              <input
                class="govuk-checkboxes__input"
                id="sales-month-5"
                name="sales-month"
                type="checkbox"
                value="Plot 5. House type A"
              />
              <label
                class="govuk-label govuk-checkboxes__label"
                for="sales-month-5"
              >
                Plot 5. House type A
              </label>
            </div>

            <div class="govuk-checkboxes__item">
              <input
                class="govuk-checkboxes__input"
                id="sales-month-6"
                name="sales-month"
                type="checkbox"
                value="Plot 6. House type A"
              />
              <label
                class="govuk-label govuk-checkboxes__label"
                for="sales-month-6"
              >
                Plot 6. House type A
              </label>
            </div>

            <div class="govuk-checkboxes__item">
              <input
                class="govuk-checkboxes__input"
                id="sales-month-7"
                name="sales-month"
                type="checkbox"
                value="Plot 7. House type B"
              />
              <label
                class="govuk-label govuk-checkboxes__label"
                for="sales-month-7"
              >
                Plot 7. House type B
              </label>
            </div>

            <div class="govuk-checkboxes__item">
              <input
                class="govuk-checkboxes__input"
                id="sales-month-8"
                name="sales-month"
                type="checkbox"
                value="Plot 8. House type A"
              />
              <label
                class="govuk-label govuk-checkboxes__label"
                for="sales-month-8"
              >
                Plot 8. House type A
              </label>
            </div>

            <div class="govuk-checkboxes__item">
              <input
                class="govuk-checkboxes__input"
                id="sales-month-9"
                name="sales-month"
                type="checkbox"
                value="Plot 9. House type B"
              />
              <label
                class="govuk-label govuk-checkboxes__label"
                for="sales-month-9"
              >
                Plot 9. House type B
              </label>
            </div>

            <div class="govuk-checkboxes__item">
              <input
                class="govuk-checkboxes__input"
                id="sales-month-10"
                name="sales-month"
                type="checkbox"
                value="Plot 10. House type A"
              />
              <label
                class="govuk-label govuk-checkboxes__label"
                for="sales-month-10"
              >
                Plot 10. House type A
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <button
        class="govuk-button govuk-!-margin-top-9"
        data-module="govuk-button"
      >
        Continue
      </button>
    </form>
  </div>
</div>

{% endblock %}
