{% extends "layouts/main.html" %}

{% block pageTitle %}
Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      What you need to know about the loan
    </h1>

    <p>Before continuing with your application, you must read the following information.</p>

    <label class="govuk-label">Homes England reserves the right to deny any application based on the information you provide us. Homes England cannot:</label>
    <ul class="govuk-list govuk-list--bullet">
      <li>fund VAT on costs</li>
      <li>fund leasehold schemes where the ground rent is greater than a peppercorn</li>
      <li>fund any developments outside England</li>
    </ul>

    <p>To secure any loan, Homes England also expects:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>a first ranking debenture and first legal charge over the development site</li>
      <li>any outstanding director or shareholder loans to be fully subordinated behind Homes England funding</li>
    </ul>

    <p>By continuing, you are confirming that you have read and understood the information provided. You are also confirming that any information you provide is truthful and accurate to the best of your knowledge.</p>
    
    <form class="form" action="details" method="post">
      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </form>
  </div>
</div>
{% endblock %}