{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set serviceName %}
  Revenue
{% endset%}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">
          What sources of additional income will you receive?
        </h1>
      </legend>
      <p>
        Select all that apply.
      </p>


      <form class="form" action="/revenue/revenue-sources-of-income-answer" method="post">

        {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

        {{ govukCheckboxes({
          name: "income",
          values: data["income"],
          fieldset: {
            legend: {
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "Commercial",
              text: "Commercial",
              checked: checked("income", "Commercial")
            },
            {
              value: "Parking",
              text: "Parking",
              checked: checked("income", "Parking")
            },
            {
              value: "Rent",
              text: "Rent",
              checked: checked("income", "Rent")
            },
            {
              value: "Other",
              text: "Other",
              checked: checked("income", "Other")
            }
          ]
        }) }}


        {{ govukButton({
          text: "Continue",
          classes: "govuk-!-margin-top-9"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
