{% extends "layouts/main.html" %} {% block pageTitle %} Question page template –
{{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {% set serviceName %}
Revenue {% endset%} {% block beforeContent %} {{ govukBackLink({ text: "Back",
href: "javascript:window.history.back()" }) }} {% endblock %} {% block content
%}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">Additional income from parking</h1>
    </legend>

    <form class="form" action="/revenue/revenue-parking-answer" method="post">
      <p class="govuk-heading-m govuk-!-margin-top-9">
        Total amount of additional income from parking
      </p>

      <div class="govuk-form-group">
        <div class="govuk-input__wrapper">
          <div class="govuk-input__prefix" aria-hidden="true">£</div>
          <input
            class="govuk-input govuk-input--width-10"
            id="ammount-parking"
            name="ammount-parking"
            type="text"
            spellcheck="false"
          />
        </div>
      </div>

      <p class="govuk-heading-m">Date you will receive additional income</p>

      <section class="input-section">
        <div class="govuk-form-group">
          <label class="govuk-label" for="parking-date-month"> Month </label>

          <input
            class="govuk-input govuk-input--width-2"
            id="parking-date-month"
            name="parking-date-month"
            type="text"
          />
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="parking-date-year"> Year </label>

          <input
            class="govuk-input govuk-input--width-4"
            id="parking-date-year"
            name="parking-date-year"
            type="text"
          />
        </div>
      </section>

      <button
        class="govuk-button govuk-!-margin-top-9"
        data-module="govuk-button"
      >
        Continue
      </button>
    </form>
  </div>
</div>

{% endblock %}
