{% extends "layouts/main.html" %} {% block pageTitle %} Question page template –
{{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {% set serviceName %}
Revenue {% endset%} {% block beforeContent %} {{ govukBackLink({ text: "Back",
href: "javascript:window.history.back()" }) }} {% endblock %} {% block content
%}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        Do you want to add details of any additional income you will receive?
      </h1>
    </legend>
    <p>
      Additional income might be from commercial, parking, rent or VAT recovery.
      This will help us assess your situation, and might help you to improve
      your projections on the cashflow.
    </p>

    <form class="form" action="/revenue/revenue-1-answer" method="post">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input
                class="govuk-radios__input"
                id="additional-income"
                name="additional-income"
                type="radio"
                value="Yes, I’d like to add details of additional income"
              />
              <label
                class="govuk-label govuk-radios__label"
                for="additional-income"
              >
                Yes, I’d like to add details of additional income
              </label>
            </div>

            <div class="govuk-radios__item">
              <input
                class="govuk-radios__input"
                id="additional-income-2"
                name="additional-income"
                type="radio"
                value="No, there’s no additional income"
              />
              <label
                class="govuk-label govuk-radios__label"
                for="additional-income-2"
              >
                No, there’s no additional income
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <button
        class="govuk-button govuk-!-margin-top-9"
        data-module="govuk-button"
      >
        Continue
      </button>
    </form>
  </div>
</div>

{% endblock %}
