{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Check your answers
    </h1>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Gross Development Value</dt>
        <dd class="govuk-summary-list__value">£750000</dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="">
            Change<span class="govuk-visually-hidden"> sec-charges-debt</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Total project costs</dt>
        <dd class="govuk-summary-list__value">£200000</dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="">
            Change<span class="govuk-visually-hidden"> sec-charges-debt</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Private sector funding</dt>
        <dd class="govuk-summary-list__value">Yes</dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="">
            Change<span class="govuk-visually-hidden"> sec-charges-debt</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Additional information</dt>
        <dd class="govuk-summary-list__value">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="">
            Change<span class="govuk-visually-hidden"> sec-charges-debt</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Additional projects</dt>
        <dd class="govuk-summary-list__value">Yes</dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="">
            Change<span class="govuk-visually-hidden"> sec-charges-debt</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Total costs of additional projects</dt>
        <dd class="govuk-summary-list__value">£100000</dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="">
            Change<span class="govuk-visually-hidden"> sec-charges-debt</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Additional project funding</dt>
        <dd class="govuk-summary-list__value">Bank, Grant</dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="">
            Change<span class="govuk-visually-hidden"> sec-charges-debt</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Refinance or repay</dt>
        <dd class="govuk-summary-list__value">Refinance</dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="">
            Change<span class="govuk-visually-hidden"> sec-charges-debt</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Additional information</dt>
        <dd class="govuk-summary-list__value">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="">
            Change<span class="govuk-visually-hidden"> sec-charges-debt</span>
          </a>
        </dd>
      </div>
    </dl>


    <h1 class="govuk-heading-m">
      Have you completed this section?
    </h1>
    <form class="form" action="../summary" method="post">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="sign-in-hint">
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="sign-in-2" name="sign-in" type="radio" value="govuk-verify" aria-describedby="sign-in-2-item-hint">
              <label class="govuk-label govuk-radios__label" for="sign-in-2">
                Yes, I’ve completed this section
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="sign-in-2" name="sign-in" type="radio" value="govuk-verify" aria-describedby="sign-in-2-item-hint">
              <label class="govuk-label govuk-radios__label" for="sign-in-2">
                No, I’ll come back later
              </label>
            </div>
          </div>
        </fieldset>
      </div>
      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </form>
  </div>
</div>
{% endblock %}
