{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Check your details
    </h1>
   
    <div class="govuk-inset-text">
      Homes England only offers loans to private limited companies.<br>
      Your account suggests you're not a private limited company.<br>
      If you have any questions, contact us via telephone: 0800...
    </div>
    
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Registered company name
        </dt>
        <dd class="govuk-summary-list__value">
          ABC Developments
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="">
            Change<span class="govuk-visually-hidden"> sec-charges-debt</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Company Registration Number
        </dt>
        <dd class="govuk-summary-list__value">
          AC012345
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="">
            Change<span class="govuk-visually-hidden"> sec-legal-development</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Company address
        </dt>
        <dd class="govuk-summary-list__value">
          12 Wharf Street<br>
          Leeds<br>
          LS1 3JW<br>
          United Kingdom
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="">
            Change<span class="govuk-visually-hidden"> sec-legal-development-more</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Contact name
        </dt>
        <dd class="govuk-summary-list__value">
          Johan Aswani
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="">
            Change<span class="govuk-visually-hidden"> sec-charges-debt-company</span>
          </a>
        </dd>      
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Email address
        </dt>
        <dd class="govuk-summary-list__value">
          example@mail.com
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="">
            Change<span class="govuk-visually-hidden"> sec-charges-debt-company</span>
          </a>
        </dd>      
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Telephone number
        </dt>
        <dd class="govuk-summary-list__value">
          01238 956738
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="">
            Change<span class="govuk-visually-hidden"> sec-charges-debt-company</span>
          </a>
        </dd>      
      </div>
    </dl>
    <form class="form" action="question2" method="post">
      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </form>
  </div>
</div>
{% endblock %}
