{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "govuk-prototype-kit/includes/homepage-top.njk" %}

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    <h1 class="govuk-heading-xl">
      This is a prototype of the cashflow to be tested on 13 June 2023
    </h1>



  </div>
</div>

<a href="/cashflow/cashflow-start" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
  Start now
  <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
  </svg></a>

  <!-- <p>
    <a href="/cashflow/cashflow-start">Start Cashflow</a>
  </p>
  <p>
    <a href="/housetypes/house-types-start">Start House types</a>
  </p>
  <p>
    <a href="/phase1/phase-1-start">Phase 1</a>
  </p>
  <p>
    <a href="/revenue/revenue-start">Revenue</a>
  </p> -->



    <h3 class="govuk-heading-s">
      Provide cashflow information - project 1
    </h3>
    <p class="links-container">
    <a href="/cashflow/cashflow-start">Provide cashflow information - project 1</a>
    <a href="/cashflow/cashflow-intro-1">Total number of homes</a>
    <a href="/cashflow/cashflow-intro-2">Are you delivering this project in phases?</a>
    <a href="/cashflow/cashflow-intro-3">How many phases are you delivering this project in?</a>
    <a href="/cashflow/cashflow-intro-4">Homes per phase</a>
    <a href="/cashflow/cashflow-intro-5-p1">Phase 1 start and completion date</a>
    <a href="/cashflow/cashflow-intro-5-p2">Phase 2 start and completion date</a>
    <a href="/cashflow/cashflow-multiple">Check your answers</a>
    <a href="/cashflow/cashflow-form">Cashflow - project 1</a>
    </p>

    <h3 class="govuk-heading-s">
      Define a house type
    </h3>
    <p class="links-container">
    <a href="/housetypes/house-types-start">Define a house type</a>
    <a href="/housetypes/what-tenure-is-this-house-type">What tenure is this house type?</a>
    <a href="/housetypes/what-construction-method-will-be-used-to-build-this-house-type">What construction method will be used to build this house type?</a>
    <a href="/housetypes/what-is-the-size-of-this-house-type">What is the size of this house type?</a>
    <a href="/housetypes/what-is-the-projected-sales-value-of-this-house-type">What is the projected sales value of this house type?</a>
    <a href="/housetypes/house-type-a-summary">Check your answers</a>
    <a href="/housetypes/add-another-house-type">Add another house type</a>
    <a href="/housetypes/type-b/what-tenure-is-this-house-type">What tenure is this house type?</a>
    <a href="/housetypes/type-b/what-construction-method-will-be-used-to-build-this-house-type">What construction method will be used to build this house type?</a>
    <a href="/housetypes/type-b/what-is-the-size-of-this-house-type">What is the size of this house type?</a>
    <a href="/housetypes/type-b/what-is-the-projected-sales-value-of-this-house-type">What is the projected sales value of this house type?</a>
    <a href="/housetypes/type-b/house-type-b-summary">Define house type B</a>
    </p>

    <h3 class="govuk-heading-s">
      Phase 1
    </h3>
    <p class="links-container">
    <a href="/phase1/phase-1-start">Phase 1</a>
    <a href="/phase1/phase-1-information">Phase 1 information
    </a>
    <a href="/phase1/phase-1-house-types">House types defined
    </a>
    <a href="/phase1/phase-1-plots-1-5">Allocate house types for plots 1-5</a>
    <a href="/phase1/phase-1-plots-6-10">Allocate house types for plots 6-10</a>
    <a href="/phase1/phase-1-types-per-plots">House types per plots
    </a>
    <a href="/phase1/phase-1-revenue-details">Revenue details for phase 1 per plot</a>
    <a href="/phase1/phase-1-building-completion-month-1">Projected building completion month</a>
    <a href="/phase1/phase-1-building-completion-month-date-1">Projected building completion month</a>
    <a href="/phase1/phase-1-building-completion-month-date-2">Projected building completion month</a>
    <a href="/phase1/phase-1-building-completion-month-summary">Building completion months</a>
    <a href="/phase1/phase-1-sales-month-1">Projected sales month</a>
    <a href="/phase1/phase-1-sales-month-date-1">Projected sales month date</a>
    <a href="/phase1/phase-1-sales-month-2">Projected building completion month</a>
    <a href="/phase1/phase-1-sales-month-date-2">Projected sales month date</a>
    <a href="/phase1/phase-1-sales-month-summary">Sales month</a>
    <a href="/phase1/phase-1-overview">Sales month</a>
    </p>

    <h3 class="govuk-heading-s">
      Revenue
    </h3>
    <p class="links-container">
    <a href="/revenue/revenue-start">Revenue</a>
    <a href="/revenue/revenue-1">Do you want to add details of any additional income you will receive?</a>
    <a href="/revenue/revenue-sources-of-income">What sources of additional income will you receive?</a>
    <a href="/revenue/revenue-commercial">Additional income from commercial units</a>
    <a href="/revenue/revenue-parking">Additional income from parking</a>
    <a href="/revenue/revenue-rent">Additional income from rent</a>
    <a href="/revenue/revenue-check">Check your answers</a>

    </p>






{% endblock %}
