{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">
          Enter how many phases you plan to deliver this site in.
        </h1>
      </legend>

      {{ govukTable({

        captionClasses: "govuk-table__caption--m",
        firstCellIsHeader: true,
        head: [
          {
            text: ""
          },
          {
            text: ""
          }
        ],
        rows: [
          [
          {
            text: "Total number of homes"
          },
          {
            text: "20"
          }

          ]
        ]
      }) }}



      <form class="form" action="/cashflow/cashflow-intro-5-p1" method="post">

        {% from "govuk/components/input/macro.njk" import govukInput %}
        <h2 class="govuk-table__caption--m">Phase 1</h2>
        {{ govukInput({
          label: {
            text: "Enter the number of homes per phase."
          },
          classes: "govuk-input--width-5",
          id: "phase-1-homes",
          name: "phase-1-homes",
          suffix: {
            text: "homes"
          },
          value: data['phase-1-homes'],
          spellcheck: false
        }) }}

        <h2 class="govuk-table__caption--m">Phase 2</h2>
        {{ govukInput({
          label: {
            text: "Enter the number of homes per phase."
          },
          classes: "govuk-input--width-5",
          id: "phase-2-homes",
          name: "phase-2-homes",
          value: data['phase-2-homes'],
          suffix: {
            text: "homes"
          },
          spellcheck: false
        }) }}


        {{ govukButton({
          text: "Continue",
          classes: "govuk-!-margin-top-9"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
