{% extends "layouts/main.html" %} {% block pageTitle %} Question page template –
{{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {% set serviceName %}
Provide cashflow information - project 1 {% endset%} {% block beforeContent %}
{{ govukBackLink({ text: "Back", href: "javascript:window.history.back()" }) }}
{% endblock %} {% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        Are you delivering this project in phases?
      </h1>
    </legend>
    <p>
      Delivering this project in phases means you will be building the homes in
      batches.
    </p>

    <form class="form" action="/cashflow/cashflow-intro-2-answer" method="post">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input
                class="govuk-radios__input"
                id="are-you-delivering-this-project-in-phases?"
                name="are-you-delivering-this-project-in-phases?"
                type="radio"
                value="Yes, this project will be delivered in multiple phases"
                checked=""
              />
              <label
                class="govuk-label govuk-radios__label"
                for="are-you-delivering-this-project-in-phases?"
              >
                Yes, this project will be delivered in multiple phases
              </label>
            </div>

            <div class="govuk-radios__item">
              <input
                class="govuk-radios__input"
                id="are-you-delivering-this-project-in-phases?-2"
                name="are-you-delivering-this-project-in-phases?"
                type="radio"
                value="No, this project will be delivered in one phase"
              />
              <label
                class="govuk-label govuk-radios__label"
                for="are-you-delivering-this-project-in-phases?-2"
              >
                No, this project will be delivered in one phase
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <button
        class="govuk-button govuk-!-margin-top-9"
        data-module="govuk-button"
      >
        Continue
      </button>
    </form>
  </div>
</div>

{% endblock %}
