{% extends "layouts/main.html" %} {% block pageTitle %} Question page template –
{{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {% set serviceName %}
Define a house type {% endset%} {% block beforeContent %} {{ govukBackLink({
text: "Back", href: "javascript:window.history.back()" }) }} {% endblock %} {%
block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Add another house type</h1>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header"></th>
          <th scope="col" class="govuk-table__header"></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">House type A</th>
          <td class="govuk-table__cell">
            <span class="wrap-text">
              {{ data['what-tenure-is-this-house-type']}}</span
            >
            {{
            data['what-construction-method-will-be-used-to-build-this-house-type']}}
            <br />
            {{ data['size-of-this-house-type-a']}} square feet <br />
            £{{data['dales-value-of-house-type-a']}}
          </td>
        </tr>
      </tbody>
    </table>

    <form
      class="form"
      action="/housetypes/add-another-house-type-answer"
      method="post"
    >
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h1 class="govuk-fieldset__heading">
              How would you like to add another house type?
            </h1>
          </legend>

          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input
                class="govuk-radios__input"
                id="how-would-you-like-to-add-another-house-type"
                name="how-would-you-like-to-add-another-house-type"
                type="radio"
                value="I would like to create a new house type"
              />
              <label
                class="govuk-label govuk-radios__label"
                for="how-would-you-like-to-add-another-house-type"
              >
                I would like to create a new house type
              </label>
            </div>

            <div class="govuk-radios__item">
              <input
                class="govuk-radios__input"
                id="how-would-you-like-to-add-another-house-type-2"
                name="how-would-you-like-to-add-another-house-type"
                type="radio"
                value="I would like to copy House type A and edit"
              />
              <label
                class="govuk-label govuk-radios__label"
                for="how-would-you-like-to-add-another-house-type-2"
              >
                I would like to copy House type A and edit
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <button class="govuk-button" data-module="govuk-button">Continue</button>
    </form>
  </div>
</div>

{% endblock %}
