{% extends "layouts/main.html" %}

{% block pageTitle %}
Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="question4" method="post">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Does this project have any abnormal costs?
            </h1>
          </legend>
          <br>
          <div id="contact-hint" class="govuk-hint">
            Abnormal costs are additional or unusual costs that you might face when developing a site.
          </div>
          <br>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email" checked
                data-aria-controls="conditional-contact">
              <label class="govuk-label govuk-radios__label" for="contact">
                Yes
              </label>
            </div>
            <div class="govuk-radios__conditional" id="conditional-contact">
              <div class="govuk-form-group">
                <label class="govuk-label" for="contact-by-email">
                  Tell us about any abnormal costs this project has.
                </label>
                <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
              </div>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="contact-2" name="contact" type="radio" value="phone"
                data-aria-controls="conditional-contact-2">
              <label class="govuk-label govuk-radios__label" for="contact-2">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>
      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </form>

    <p class="govuk-body"><a href="../summary" class="govuk-link">Return to application</a></p>
    <p class="govuk-body"><a href="details" class="govuk-link">Show and edit all answers for this section</a></p>
  </div>
</div>
{% endblock %}