{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set serviceName %}
  Phase 1
{% endset%}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
     
        <p>Phase 1</p>
        <h1 class="govuk-heading-xl">
          Projected sales month
        </h1>
        <p class="govuk-body-l">
          Plot 1 ({{data['plot-1']}}), Plot 2 ({{data['plot-1']}}), Plot 3 ({{data['plot-1']}}), Plot 4 ({{data['plot-1']}}) ,Plot 5 ({{data['plot-1']}})
        </p>
     




      <form class="form" action="/phase1/phase-1-sales-month-summary" method="post">

        {% from "govuk/components/input/macro.njk" import govukInput %}
        <h2 class="govuk-table__caption--s">Projected sales date</h2>
        <p>Enter the projected sales date.</p>
        <section class="input-section">
          {{ govukInput({
            label: {
              text: "Month"
            },
            classes: "govuk-input--width-2",
            id: "phase-1-sales-month-2",
            name: "phase-1-sales-month-2",
            value: data['phase-1-sales-month-2']
            
          }) }}
  
          {{ govukInput({
            label: {
              text: "Year"
            },
            classes: "govuk-input--width-4",
            id: "phase-1-sales-year-2",
            name: "phase-1-sales-year-2",
            value: data['phase-1-sales-year-2']
          }) }}
        </section>



        {{ govukButton({
          text: "Continue",
          classes: "govuk-!-margin-top-9"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
