{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set serviceName %}
  Define a house type
{% endset%}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <p>Phase 1</p>
        <h1 class="govuk-fieldset__heading">
          Allocate house types for plots 1-5
        </h1>
        <p>Homes England refers to a plot as the land that a home is built upon. <br/>
          Select which house type will be allocated to each plot.</p>
      </legend>


      <form class="form" action="/housetypes/what-is-the-size-of-this-house-type" method="post">

        {{ govukRadios({
          classes: "govuk-radios--inline",
          name: "plot-1",
          fieldset: {
            legend: {
              text: "Plot 1",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "House type A",
              text: "House type A",
              checked: checked("plot-1", "House type A")
            },
            {
              value: "House type B",
              text: "House type B",
              checked: checked("plot-1", "House type B")
            }
          ]
        }) }}

        {{ govukRadios({
          classes: "govuk-radios--inline",
          name: "plot-2",
          fieldset: {
            legend: {
              text: "Plot 2",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "House type A",
              text: "House type A",
              checked: checked("plot-2", "House type A")
            },
            {
              value: "House type B",
              text: "House type B",
              checked: checked("plot-2", "House type B")
            }
          ]
        }) }}

        {{ govukRadios({
          classes: "govuk-radios--inline",
          name: "plot-3",
          fieldset: {
            legend: {
              text: "Plot 3",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "House type A",
              text: "House type A",
              checked: checked("plot-3", "House type A")
            },
            {
              value: "House type B",
              text: "House type B",
              checked: checked("plot-3", "House type B")
            }
          ]
        }) }}

        {{ govukRadios({
          classes: "govuk-radios--inline",
          name: "plot-4",
          fieldset: {
            legend: {
              text: "Plot 4",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "House type A",
              text: "House type A",
              checked: checked("plot-4", "House type A")
            },
            {
              value: "House type B",
              text: "House type B",
              checked: checked("plot-4", "House type B")
            }
          ]
        }) }}

        {{ govukRadios({
          classes: "govuk-radios--inline",
          name: "plot-5",
          fieldset: {
            legend: {
              text: "Plot 5",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "House type A",
              text: "House type A",
              checked: checked("plot-5", "House type A")
            },
            {
              value: "House type B",
              text: "House type B",
              checked: checked("plot-5", "House type B")
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue",
          classes: "govuk-!-margin-top-9"
        }) }}

      </form>

    </div>
    <div class="govuk-grid-column-one-third">

      <aside class="govuk-!-margin-top-8" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          House types
        </h2>
        <p class="govuk-body-s border-top">
          <span class="govuk-!-font-weight-bold">House Type A</span> <br/>
           {{ data['what-tenure-is-this-house-type']}}
          {{ data['what-construction-method-will-be-used-to-build-this-house-type']}} <br/>
          {{ data['size-of-this-house-type-a']}} square feet <br/>
          £{{data['dales-value-of-house-type-a']}}
        </p>

        <p class="govuk-body-s border-top">
          <span class="govuk-!-font-weight-bold">House Type B</span> <br/>
          {{ data['what-tenure-is-this-house-type-b']}}
          {{ data['what-construction-method-will-be-used-to-build-this-house-type-b']}} <br/>
          {{ data['size-of-this-house-type-b']}} square feet <br/>
          £{{data['dales-value-of-house-type-b']}}
        </p>
      </aside>

    </div>

  </div>

{% endblock %}
